*,*::before,*::after{margin:0;padding:0;box-sizing: border-box;list-style:none;}
a{text-decoration: none;color:inherit;}
div[v-cloak]{display:none}
@media(min-width:500px){
  .page{
  height:100vh;
  overflow:hidden;
  display:flex;
  }
 .page>aside{
   background: #efefed;
  width: 100px;
  flex-shrink:0;
  border-right:1px solid #ddd ;
  box-shadow: 0px 3px 13px -4px rgba(0,0,0,0.55);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
 }
 .page >aside>.upper{
   display:flex;
   flex-direction: column;
 }
 .page >aside .actions >li{
   margin:20px;
 }
 .page > main{
   flex:1;
   overflow:auto;
   height:100vh;
 }
 .bg-img{
   position: fixed;
   width:100%;
   height:100%;
   top:0;
   left:0;
  background: transparent url(https://ws1.sinaimg.cn/large/006EdmRUly1fud3fn0zubj31hc0xcqb0.jpg)no-repeat center;
  background-size: cover;
  z-index: -1;
 }
 .button{
   background: #ffffff;
   padding:10px;
   outline: none;
   border:0;
   border-radius:2px;
 }
 .button:hover{
  background: #ecf5ff;
 }
 .down button{
   background: #409EFF;
  padding:10px;
  outline: none;
  border:0;
  border-radius:2px;
 }
 
 .down button:hover{background: #66b1ff;}
 
 
 .resume{
   max-width:1000px;
   margin:80px auto;
   background: white;
   padding:1px 30px;
   }
 
 .resume > section {text-align: center;margin:0 auto}
 .resume > section >h1{text-align: center;margin:20px;}
 .resume > section >h2{text-align: center;margin:20px;}
 .resume > section input{font-size:inherit;border:none;text-align:center;}
 .resume .skills > ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
.resume .skills > ul>li{
   width:48%;
   border:1px solid #ddd;
   padding:10px;
   margin:5px 0;
   position:relative;
}

.resume .skills > ul>li .remove{
  position:absolute;
  top:0;
  right:0;
}
.resume .projects .name{
  margin-right:1em;
}
.resume .projects  li{
  margin:30px 0;
  border:1px solid #ddd;
  padding:10px;
}
.resume .projects  header{display: flex;align-items: center;justify-content:space-between;}
.resume .projects .start{display: flex;}
}
